<!DOCTYPE html>
<html>
<head>
  <title>Termination</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" %>

<!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>

  .bigger {
    font-family: "Roboto","Helvetica","Arial",sans-serif; 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 32px; }

.say-goodbye-to-your {
	width: 328px;
	height: 64px;
	font-family: Roboto;
	font-size: 24px;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.87);
}

</style>
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>
